p {
    margin-bottom: 1rem;
}

.profilePhotoContainer {
    display: block;
    height: 225px;
    width: 225px;
    border: 5px solid var(--color-lightest-navy);
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
    overflow: hidden;
}

.profilePhoto {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.75);
    padding-bottom: 45px;
}

.highlight {
    color: var(--color-white);
}
